doctype html
html(lang="en")
  head
    title= pageTitle
    script(type='text/javascript').
      
  body
   a(href=message)
    img(style={width: '120px', height: '43px'} src="https://support.apple.com/library/content/dam/edam/applecare/images/en_US/iOS/add-to-apple-wallet-logo.png" )
